@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

img {
  width: 150px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #8003bb, #bf7dc6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

ul {
  list-style: none;
}

.hamburguer {
  background-color: #390452;
  opacity: 0.97;
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  transition: .5s;
}

.hamburguer.abrir-menu {
  width: 70%;
}

.hamburguer.abrir-menu ~.overlay-menu{
  display: block;
}

.hamburguer nav ul {
  text-align: right;
}

.hamburguer ul li a {
  display: block;
  flex-direction: column;
  text-align: right;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  padding: 20px 8%;
}
.hamburguer ul li a:hover {
  background-color: #ffd730;
  color: black;
}

.hamburguer .btn-fechar {
  padding: 20px;
}

.hamburguer .btn-fechar i {
  color: #fff;
  font-size: 20px;
}

.btn-abrir-menu{
  display: none;
}

.btn-abrir-menu i {
  font-size: 40px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.overlay-menu {
  background-color: #390452bd;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  display: none;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 26px;
  cursor: pointer;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-right: 80px;
  height: 100%;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.navbar a:hover {
  color: #ffd730;
  font-weight: 600;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(to right, #8003bb, #bf7dc6);
  width: 100%;
  padding: 80px 0px;
}

.banner-content p {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 68px;
  color: #fff;
  max-width: 918px;
}

.banner-button {
  display: flex;
  gap: 25px;
  margin-top: 50px;
}

.button {
  background-color: #ffd730;
  text-align: center;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: black;
  font-weight: 800;
  font-size: 18px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.button:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}
.content-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.imagem {
  width: fit-content;
}

.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.text-container {
  width: 100%;
}

.text-right {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 26px;
  color: black;
  text-align: right;
  max-width: 600px;
}

.text-left {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 26px;
  color: black;
  text-align: left;
  max-width: 700px;
  margin-left: 80px;
}

.text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 80px;
}

.roxo {
  color: #8003bb;
}

.amarelo {
  color: #ffd730;
}
.titulo {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titulo h3 {
  display: flex;
  justify-items: center;
  color: #8003bb;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 56px;
}

.galeria {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-gap: 15px;
  margin-bottom: 15px;
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-galeria {
  cursor: pointer;
}

.item-galeria--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item-galeria--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item-galeria--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.item-galeria--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2 {
  background-color: #ffd730;
  text-align: center;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: black;
  font-weight: 800;
  font-size: 24px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.button2:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

.formulario-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #8003bb, #bf7dc6);
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.formulario-area {
  display: grid;
  grid-template-columns: 50% 50%;
}
.formulario-area form {
  display: flex;
  flex-direction: column;
}

.imagem-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagem-formulario img {
  width: 80%;
}

.input-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-area input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}

.input-area label {
  font-family: "Nunito", sans-serif;
  margin: 10px 0 0 10px;
  color: #fff;
  font-weight: 700;
}

.input-area textarea {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

form h3 {
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffd730;
  font-weight: 900;
  margin-left: 50px;
}

.button-form {
  margin-top: 10px;
}

hr {
  border: 0;
  height: 1px;
  background: #8003bb;
  background-image: linear-gradient(to right, #fff, #8003bb, #fff);
}

footer {
  background-color: #390452;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright p {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  margin-right: 50px;
}

@media screen and (max-width: 420px) {
  .navbar {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-abrir-menu{
    display: block;
  }

  /*Banner*/

  .banner-content p {
    font-size: 40px;
    padding: 0px 20px;
  }
  .banner-button {
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
  }

  /* Saiba mais */

  .content-container {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .content-container2 {
    flex-direction: column;
    margin-top: 20px;
  }

  .text-right {
    text-align: left;
    padding: 20px;
  }

  .text-left {
    margin-left: 0;
    padding: 20px;
    margin-bottom: 20px;
  }

  .text-button {
    margin: 0;
  }

  .button2 {
    margin: 0;
  }

  .imagem {
    width: 80%;
  }

  /* Nosso Projetos */

  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo h3 {
    color: #8003bb;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 36px;
  }

  /* formulario */

  .formulario-container {
    margin-top: 50px;
  }

  .imagem-formulario {
    display: none;
  }

  .form-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form h3 {
    font-size: 18px;
    margin: 0;
  }

  .formulario-area {
    display: flex;
    width: 100%;
  }

  .form-titulo {
    width: 100%;
  }

  .button-form button {
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }

  .formulario-area form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
